<!DOCTYPE html>
<title>Home</title>

<link rel="stylesheet" type="text/css" href="../static/css/templateFormat.css">
<link rel="stylesheet" type="text/css" href="css/index.css">

<head>
	<div class="title">
		<br>
		<a href="index.html">Matrix Calculator</a>
		<h5 style="font-size: 20px">by Shivam Patel</h5>
	</div>
</head>

<body background="../static/images/bck.jpg">
	<div id="sideNav">
		<table style="width: 200px">
				<tr>
					<td><h1 id="op">Operations</h1></td>
				</tr>
				<tr>
					<td><a id="op" href="add.html">Matrix Addition</a></td>
				</tr>
				<tr>
					<td><a id="op" href="subtract.html">Matrix Subtraction</a></td>
				</tr>
				<tr>
					<td><a id="op" href="multiply.html">Matrix Multiplication</a></td>
				</tr>
				<tr>
					<td><a id="op" href="determinant.html">Matrix Determinant</a></td>
				</tr>
				<tr>
					<td><a id="op" href="transpose.html">Matrix Transpose</a></td>
				</tr>
		</table>
	</div>
	<div id="informationRegion">
		<h3 id="info">This web application is a Matrix Calculator that performs elementary operations on matrices, ranging from basic addition and multiplication to calculating determinants. The inspiration for this tool came from the course Matrices and Matrix Calculations, M340L-CS, at the University of Texas at Austin. The course taught a plethora of matrix operations that are valuable for data collection and modification. Through the knowledge gained from the course, this tool was developed as an application.</h3>
	</div>
</body>


</html>